/* Thiết lập chiều rộng thanh cuộn */
::-webkit-scrollbar {
  width: 12px;
}

/* Thiết lập màu nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Thiết lập màu của thanh kéo */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* border-radius: 0 8px 8px 0; */
}

/* Thiết lập màu khi hover lên thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Màu khi hover lên thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Màu khi thanh kéo được nhấn */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}


.overflow {
    overflow: hidden !important;
}